### HW: use all the set inbuilt functions and dict inbuiltfunctions 08/18/2023

### Inbuilt Functions in Sets

In [1]:
#hw august 18 due before 12:00pm est . use all the set inbuilt functions and dict inbuiltfunctions

set1= {1,2,45,78,97,2,9, 98,67,91,}

dir(set1)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [13]:
#add, this adds an element to a set only if its not there, if it is already there it wont add it
set1= {1,2,3,4,5,6,7,8,9,10,12,13,14,15}

set1.add(16)

print(set1)

print("==================================================================")
print("this code below not print the number, since it is already there:")
set1= {1,2,3,4,5,6,7,8,9,10,12,13,14,15}
set1.add(12)

print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16}
==================================================================
this code below not print the number, since it is already there:
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15}

In [16]:
#clear: this clears all elemts in the set

set1= {1,2,3,4,5,6,7,8,9,10,12,13,14,15}
print("this is before the clear", set1)
print("==================================================================")
set1.clear()

print("this is after the clear",set1)

this is before the clear {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15}
==================================================================
this is after the clear set()

In [18]:
#copy: this copies all the elements in a set to another set

set2={"amy", "Sam", "Pam", "Jack", "Ash", "Jake"}

newset=set2.copy()
print("this is the old set:", set2)
print("==================================================================")
print("this is the copied new set:", newset)

this is the old set: {'Ash', 'Pam', 'Jake', 'Sam', 'amy', 'Jack'}
==================================================================
this is the copied new set: {'Ash', 'Pam', 'Jake', 'Sam', 'amy', 'Jack'}

In [21]:
#difference: this determines the difference of two sets and it will return elements unique to a set

set2={"amy", "Sam", "Pam", "jack", "Ash", "mark"}
set3={"john", "Sam", "Pam", "jack", "Ash", "hilda"}

# differennces in set2 to set 3
print(set2.difference(set3))
# differennces in set3 to set2
print(set3.difference(set2))

{'amy', 'mark'}
{'hilda', 'john'}

In [22]:
#difference_update: The difference_update() method computes the difference between two sets (set1- set2) and updates the set set1 with the resulting set

set2={"amy", "Sam", "Pam", "jack", "Ash", "mark"}
set3={"john", "Sam", "Pam", "jack", "Ash", "hilda"}

set2.difference_update(set3)

print(set2)

{'amy', 'mark'}

In [25]:
#discard: it removes an element from the set

set1= {1,2,3,4,5,6,7,8,9,10,12,13,14,15}

print("this is before discard of the set:", set1)
print("==================================================================")

set1.discard(5)
print("this is after the discard", set1)

this is before discard of the set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15}
==================================================================
this is after the discard {1, 2, 3, 4, 6, 7, 8, 9, 10, 12, 13, 14, 15}

In [29]:
#intersection: returns elements that are common in both sets
set2={"amy", "Sam", "Pam", "jack", "Ash", "mark"}
set3={"john", "Sam", "Pam", "jack", "Ash", "hilda"}

print(set2.intersection(set3))

{'Sam', 'Ash', 'jack', 'Pam'}

In [34]:
#intersection_update:returns elements that are common in both sets and updates the set to that,
#so whatever both sets have in come that , the set you choose will be updated to that

 #intersection: returns elements that are common in both sets
set2={"amy", "Sam", "Pam", "jack", "Ash", "mark"}
set3={"john", "Sam", "Pam", "jack", "Ash", "hilda"}

set2.intersection_update(set3)

print(set2)

{'Sam', 'Ash', 'jack', 'Pam'}

In [35]:
#isdisjoint: returns true if two sets don't have any elements in common , if it does have things in common it returns false

set1= {1,2,3,4,5,6,7,8,9,10,12,13,14,15}

set4={16,17,18,19,20,21,22,23,24,25,26}

print(set1.isdisjoint(set4))

True

In [37]:
#issubset: returns true if all elements in set1 are seen in set2, if it is not present then its false

set1= {1,2,3,4,5,6,7,8,9,10,12,13,14,15}
set2={1,2,3,4,5,6,7,8,9,10,12,13,14,15,16,17,18}

print(set1.issubset(set2))

True

In [40]:
#issuperset: if all elements in one set are in the other set.
#set 1 issuperset of set 2 if all elements of  set 2 are in set1, if correct it will rerturn true

set1={1,2,3,4,5,6,7,8,9,10,12,13,14,15,16,17,18}
set2= {1,2,3,4,5,6,7,8,9,10,12,13,14,15}
set3={5,6,7,8,9}
set4={3,4,5,6,7,8,9}
print(set1.issuperset(set2))

#this prints false because all elements of set 4 is not in set 3
print(set3.issuperset(set4))

True
False

In [42]:
#pop: removes any random elements from the set, it does not follow a certain guide
set1={1,2,3,4,5,6,91,76}

set1.pop()
set1.pop()
print(set1)

{3, 4, 5, 6, 76, 91}

In [43]:
#remove: this removes a spefic element from the set, so it removes what you want it to

set2={"amy", "Sam", "Pam", "jack", "Ash", "mark"}

set2.remove("Sam")

print(set2)

{'Ash', 'jack', 'Pam', 'amy', 'mark'}

In [44]:
#symmetric_difference: it returns all the elements the sets don't have in common

set2={"amy", "Sam", "Pam", "jack", "Ash", "mark"}
set3={"john", "Sam", "Pam", "jack", "Ash", "hilda"}

diff = set2.symmetric_difference(set3)
print(diff)

{'john', 'hilda', 'amy', 'mark'}

In [49]:
#symmetric_difference_update: it returns all the elements the sets don't have in common  and updates that set to those elements

set2={"amy", "Sam", "Pam", "jack", "Ash", "mark"}
set3={"john", "Sam", "Pam", "jack", "Ash", "hilda"}

set2.symmetric_difference_update(set3)

print(set2)

{'john', 'hilda', 'amy', 'mark'}

In [52]:
#union: it returns a new set with the differences of elements in both sets together

set2={"amy", "Sam", "Pam", "jack", "Ash", "mark"}
set3={"john", "Sam", "Pam", "jack", "Ash", "hilda"}

print('set2 U set3 = ', set2.union(set3))

print("==========================================================")
print("Second example with numbers:")
set4={2,5,8,9,10}
set5={6,5,21,11,10}


print('set4 U set5 = ', set4.union(set5))

set2 U set3 =  {'Ash', 'jack', 'john', 'Pam', 'Sam', 'hilda', 'amy', 'mark'}
==========================================================
Second example with numbers:
set4 U set5 =  {2, 5, 6, 8, 9, 10, 11, 21}

### Inbuilt Functions in Dictionaries

In [54]:
dict1= {1:"ham",45:"cheese",9:"salami",2:"9"}

dir(dict1)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [58]:
#clear: this clears all elemts in the dictionary

dict1= {"ham":1, "cheese":3.50, "salami":5, "bread":2.00}
dict1.clear()
print(dict1)

{}

In [61]:
#copy: copies one dictionary to another

grocerydict1= {"ham":1, "cheese":3.50, "salami":5, "bread":2.00}

copied_grocerydict1= grocerydict1.copy()


print("this is the old grocery dictionary:", grocerydict1)
print("==================================================================")
print("this is the copied new grocery dictionary:", copied_grocerydict1)

this is the old grocery dictionary: {'ham': 1, 'cheese': 3.5, 'salami': 5, 'bread': 2.0}
==================================================================
this is the copied new grocery dictionary: {'ham': 1, 'cheese': 3.5, 'salami': 5, 'bread': 2.0}

In [65]:
#fromkeys: creats a dictonary from the keys and values

#keys
names = {'Sarah', 'Mark', 'Pam'}

#value
pay = 15.60

# makes a dictionary with the given keys and values
createddict = dict.fromkeys(names, pay)

print(createddict)

{'Sarah': 15.6, 'Pam': 15.6, 'Mark': 15.6}

In [69]:
#get: gives you the value of the key that you choose
salary= {'Sarah': 25.67, 'Pam': 38.95, 'Mark': 15.6}

pay= salary.get("Pam")

#this is prining out pam's pay
print(pay)

38.95

In [70]:
#items: returns the key and values of the dicts

grocerydict1= {"ham":1, "cheese":3.50, "salami":5, "bread":2.00}

print(grocerydict1.items())

dict_items([('ham', 1), ('cheese', 3.5), ('salami', 5), ('bread', 2.0)])

In [72]:
#keys: returns the list of keys

grocerydict1= {"ham":1, "cheese":3.50, "salami":5, "bread":2.00}

print(grocerydict1.keys())

dict_keys(['ham', 'cheese', 'salami', 'bread'])

In [74]:
#pop removes the key and returns the value of the key that was popped

salary= {'Sarah': 25.67, 'Pam': 38.95, 'Mark': 15.6}

removedsal= salary.pop("Sarah")

print(removedsal)

25.67

In [75]:
#pop item removes the last dict element (key: value)placed in the dict

salary= {'Sarah': 25.67, 'Pam': 38.95, 'Mark': 15.6}

removedsal= salary.popitem()


print(removedsal)

('Mark', 15.6)

In [80]:
#setdefault: this adds a new element (key:value) to the dict if its not there already.
#if the key already exists the orginal value will not be modifued/cannot be changed

newdict= {"name":"pam", "age": 30, "city":"new york", "years of experince": 10, "salary": 50000}

newdict.setdefault('height', 65)
#this line i am attempting to change the value of name to ash but i cannot
newdict.setdefault('name', "Ash")
print(newdict)

{'name': 'pam', 'age': 30, 'city': 'new york', 'years of experince': 10, 'salary': 50000, 'height': 65}

In [81]:
#update: updates the current dictonary with key:vale from another

newdict= {"name":"pam", "age": 30, "city":"new york", "years of experince": 10, "salary": 50000}
dict2={'height':65, "previous employer":"google"}

newdict.update(dict2)

print(newdict)

{'name': 'pam', 'age': 30, 'city': 'new york', 'years of experince': 10, 'salary': 50000, 'height': 65, 'previous employer': 'google'}

In [83]:
#values: returns all the values in the dictionary


newdict= {"name":"pam", "age": 30, "city":"new york", "years of experince": 10, "salary": 50000}


print(newdict.values())

dict_values(['pam', 30, 'new york', 10, 50000])