In [ ]:
#1) Swap two numbers using 3rd variable

a=20
b=80

var3= a

a=b

b=var3


print("a's new switched num is: ",a)
print("b's new switched num is: ", b)

a's new switched num is:  80
b's new switched num is:  20

In [ ]:
#2) Swap two numbers without using 3rd variable

a = 20
b = 80

# Swap the values of a and b
a, b = b, a

print("a's new switched num is: ", a)
print("b's new switched num is: ", b)

a's new switched num is:  80
b's new switched num is:  20

In [ ]:
#3) Remove duplicate elements from a list without converting to tuple

lst1= [1,2,3,4,4,5,6,7,7,8,8,9]

print(set(lst1))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

list

In [ ]:

#3) Write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers

a = int(input("Enter a number: "))
b = int(input("Enter another number: "))

hcf = 1

for i in range(1, min(a, b) + 1):
    if a % i == 0 and b % i == 0:
        hcf = i

print("The highest common factor (HCF) of", a, "and", b, "is", hcf)

Enter a number: 36
Enter another number: 60
The highest common factor (HCF) of 36 and 60 is 12

In [ ]:
#4.Write a loop to print following series


for i in range(10,310,10):
  print(i)

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300

In [ ]:
#5)Write a loop to print following series
for i in range(105,1,-7):
  print(i)

105
98
91
84
77
70
63
56
49
42
35
28
21
14
7

In [ ]:
#6)Write a program to print number names of digits in a number like
# SAMPLE INPUT 231 		SAMPLE OUTPUT TWO THREE ONE


digit_write = {
    '0': 'ZERO',
    '1': 'ONE',
    '2': 'TWO',
    '3': 'THREE',
    '4': 'FOUR',
    '5': 'FIVE',
    '6': 'SIX',
    '7': 'SEVEN',
    '8': 'EIGHT',
    '9': 'NINE'
}

number = input("Enter a number: ")


number_names = []

for i in number:

    number_names.append(digit_write[i])


writen_end = ' '.join(number_names)
print("Number names:", writen_end )

Enter a number: 887
Number names: EIGHT EIGHT SEVEN

In [ ]:
#7)Write a program to print Fibonacci series till n terms take n =50

num1, num2 = 0, 1

while num1 <= 50:
    print(num1, end=' ')
    num1, num2 = num2, num1 + num2

0 1 1 2 3 5 8 13 21 34

In [ ]:
#8) Write a program to print factorial of a number

num = int(input("Enter a number: "))
fact= 1

# Check if the input is negative
if num < 0:
    print("Factorial does not include negative numbers")
elif num == 0:
    print("The factorial of 0 is 1.")
else:
    for i in range(1, num + 1):
        fact *= i

    print("The factorial of" , num ,"is", fact)

Enter a number: 78
The factorial of 78 is 11324281178206297831457521158732046228731749579488251990048962825668835325234200766245086213177344000000000000000000

In [ ]:
#9 write a program to check a number is Armstrong or not



num1 = int(input("Enter a number:"))
original_num = num1


num_digits = len(str(num1))


arm_num = 0


while num1 > 0:
    digit = num1 % 10
    arm_num += digit ** num_digits
    num1 //= 10

if arm_num == original_num:
    print("The number is an Armstrong number:", original_num)
else:
    print("The number is not an Armstrong number:", original_num)

Enter a number:1634
The number is an Armstrong number: 1634

In [ ]:
#10) Write a program to convert binary to decimal

num=input("enter a  binary number")

dec_num= int(num, 2)
print(f" {num} was converted to a decimal:", dec_num)

enter a  binary number0b111011
 0b111011 was converted to a decimal: 59

In [ ]:
#11) Write a program to convert decimal to binary

num=input("enter a number")

bin_num= bin(int(num))
print(f" {num} was converted to a binary number:", bin_num)

enter a number59
 59 was converted to a binary number: 0b111011

In [ ]:
#12) Write a program to check if number is palindrome on not (Without converting to string)

num = int(input("Enter a number: "))
original_num = num
reverse_num = 0

while num > 0:
    digit = num % 10
    reverse_num = reverse_num * 10 + digit
    num = num // 10

if original_num == reverse_num:
    print(f"{original_num} is a palindrome.")
else:
    print(f"{original_num} is not a palindrome.")

Enter a number: 875
875 is not a palindrome.

In [ ]:
# 13) Write a program to print all numbers which are divisible by 13 but not by 3 between 100 and 500

for i in range(100, 500):
    if i % 13 == 0 and i % 3 != 0:
        print(i)

104
130
143
169
182
208
221
247
260
286
299
325
338
364
377
403
416
442
455
481
494

In [ ]:
#14) Write a Python program to convert temperatures to and from Celsius and Fahrenheit.

Celsius=int(input("enter the temp in Celsius: "))

Fahrenheit= Celsius*(9/5)+32

print("The Temp in Fahrenheit is: ",Fahrenheit)

enter the temp in Celsius: 26
The Temp in Fahrenheit is:  78.80000000000001

In [ ]:
#15 Write a Python program that takes two digits m (row) and n (column) as input and generates a two-dimensional array.
#  The element value in the i-th row and j-th column of the array should be i*j. else it will be 0


row_num = int(input("Input number of rows: "))
col_num = int(input("Input number of columns: "))
multi_list = [[0 for col in range(col_num)] for row in range(row_num)]

for row in range(row_num):
    for col in range(col_num):
        multi_list[row][col] = row * col if row * col != 0 else 0

print(multi_list)

In [ ]:
# 16. Write a Python program that accepts a string and calculates the number of digits and letters.
# Sample Data: Python 3.2
# Expected Output:
# Letters 6
# Digits 2


string = input("Enter a string: ")
letters = 0
digits = 0

for i in string:
    if i.isalpha():
        letters += 1
    elif i.isdigit():
        digits += 1

print("Letters", letters)
print("Digits", digits)

Enter a string: Python 3.2
Letters 6
Digits 2

In [ ]:
# 17) Print all possible combination for a string or a word Sample input “ABC” Sample output BAC CAB CBA ACB BCA
from itertools import permutations
print([''.join(per) for per in permutations('ABC')])

['ABC', 'ACB', 'BAC', 'BCA', 'CAB', 'CBA']

In [ ]:
# 18) Write a Python program to check if a triangle is equilateral, isosceles or scalene.
# Take 3 inputs for each side Note : An equilateral triangle is a triangle in which all three sides are equal.
# A scalene triangle is a triangle that has three unequal sides.
# An isosceles triangle is a triangle with (at least) two equal sides.

print("Enter the lengths of the sides of a triangle: ")
side_a = int(input("Length of side A: "))
side_b = int(input("Length of side B: "))
side_c = int(input("Length of side C: "))

if side_a == side_b == side_c:
    print("It's an equilateral triangle.")
elif side_a == side_b or side_b == side_c or side_c == side_a:
    print("It's an isosceles triangle.")
else:
    print("It's a scalene triangle.")

Enter the lengths of the sides of a triangle:
Length of side A: 2
Length of side B: 3
Length of side C: 8
It's a scalene triangle.

In [ ]:
# 19) Write a Python program to get the next day of a given date.
# Expected Output: Input a year: 2016 Input a month [1-12]: 08 Input a day [1-31]: 23
# The next date is [yyyy-mm-dd] 2016-8-24

year = int(input("Input a year: "))
month = int(input("Input a month [1-12]: "))
day = int(input("Input a day [1-31]: "))

# Check if it's the last day of the month
if day == 31 and (month == 1 or month == 3 or month == 5 or month == 7 or month == 8 or month == 10):
    next_day = 1
    next_month = month + 1
elif day == 30 and (month == 4 or month == 6 or month == 9 or month == 11):
    next_day = 1
    next_month = month + 1
elif day == 28 and month == 2 and ((year % 4 != 0) or (year % 100 == 0 and year % 400 != 0)):
    next_day = 1
    next_month = 3
elif day == 29 and month == 2 and (year % 4 == 0 and (year % 100 != 0 or year % 400 == 0)):
    next_day = 1
    next_month = 3
else:
    next_day = day + 1
    next_month = month

# Check if it's the last month of the year
if next_month == 13:
    next_month = 1
    next_year = year + 1
else:
    next_year = year

print("The next date is [yyyy-mm-dd]:", f"{next_year:04d}-{next_month:02d}-{next_day:02d}")