Apache spark

It runs workloads 100X faster, it is bascially to work with big data

it is faster than Map reduce (which i think is hadoop)

you canb write an application in java, scala, python or r

Handy because if you have a huge amount of data such as 1.8 gb ram, this helps to preprocess the data in distriubuted systemns which is multiple systems that can run this data processing.

spark can run on hadoop and other cloud based services and it runs on clustermode which is a distrubuted mode

pyspark is Apachespark api for python

pyspark gives dataframes kinda like pandasa but not the sane



Apache spark  MLlib which will help prefom machine learnming algorthiom task such as regression, clustering etc

## Installing PySpark

After installing PySpark, you would typically proceed with importing necessary modules, creating a SparkSession, and writing your Spark application logic.

In [5]:
!pip install pyspark


#PySpark is the Python API for Apache Spark, which is a fast and general-purpose cluster computing system.
#PySpark allows you to write Spark applications using Python, making it more accessible to Python developers.

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [6]:
import pyspark

In [7]:
import pandas as pd

pd.read_csv("/content/test1.csv")

        Name  age  Experience  Salary
0      Krish   31          10   30000
1  Sudhanshu   30           8   25000
2      Sunny   29           4   20000
3       Paul   24           3   20000
4     Harsha   21           1   15000
5    Shubham   23           2   18000

## creating a spark session

In [8]:
from pyspark.sql import SparkSession

#This line imports the SparkSession class,
#which is a fundamental entry point to interact with Spark and enables the creation of DataFrames and executing SQL queries

In [11]:
#creating a Spark session using the SparkSession class with the specified application name 'Practise'

spark= SparkSession.builder.appName('Practise').getOrCreate()

#SparkSession.builder: This is a builder pattern used to configure the Spark session.

#.appName('Practise'): Sets the name of the Spark application to 'Practise'. The application name is a user-defined string that helps identify your Spark application when monitoring it in the Spark UI.

#.getOrCreate(): This method either retrieves an existing Spark session if one exists or creates a new one if none is found.

In [10]:
# a Spark session named 'Practise' was created

#SparkSession - in-memory: This line indicates that your Spark session is configured to use an in-memory mode. In-memory mode means that Spark will store and process data in memory, which can lead to faster data processing compared to disk-based storage.

#SparkContext: This is the main entry point for Spark functionality. It provides the connection to the Spark cluster. In a Spark session, the SparkContext is created automatically, and you can access it through the spark.sparkContext attribute.

#Spark UI: The Spark UI is a web-based user interface that provides insights into the status and performance of your Spark application. You can usually access the Spark UI in a web browser using a URL provided in the console log.

#Master local[*]: This specifies the Spark master URL. In your case, it is set to run locally (local) using all available cores ([*]). This is suitable for local development and testing.

#AppName Practise: The name of your Spark application, which you set as 'Practise' when creating the Spark session.
spark

In [13]:
df_pyspark= spark.read.csv('test1.csv')

In [16]:
df_pyspark
#the column names are cmoning out as c0 , c1 etc

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [15]:
df_pyspark.show()

+---------+---+----------+------+
|      _c0|_c1|       _c2|   _c3|
+---------+---+----------+------+
|     Name|age|Experience|Salary|
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [20]:
#reading the dataframe
#to change the columns to its actual names do this
df_pyspark= spark.read.option('header', 'true').csv('test1.csv')
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [21]:
#here you can see that this is a different dataframe not a pandas one
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [22]:
#this is like df.info
#checking the datatypes of the columns
df_pyspark.printSchema()

#by default this considers all features as string values

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

In [25]:
#another way to read the dataframe
df_pyspark= spark.read.csv('test1.csv', header= True, inferSchema=True)
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

#columns and selectiong columns

In [26]:
df_pyspark.columns

['Name', 'age', 'Experience', 'Salary']

In [28]:
df_pyspark.head(3)

[Row(Name='Krish', age=31, Experience=10, Salary=30000),
 Row(Name='Sudhanshu', age=30, Experience=8, Salary=25000),
 Row(Name='Sunny', age=29, Experience=4, Salary=20000)]

In [29]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [31]:
#this is selecting the column name
df_pyspark.select('Name').show()

+---------+
|     Name|
+---------+
|    Krish|
|Sudhanshu|
|    Sunny|
|     Paul|
|   Harsha|
|  Shubham|
+---------+

In [32]:
#selecting multiple columns
df_pyspark.select(['Name', 'Experience']).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|    Krish|        10|
|Sudhanshu|         8|
|    Sunny|         4|
|     Paul|         3|
|   Harsha|         1|
|  Shubham|         2|
+---------+----------+

In [35]:
#shows you data types
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [37]:
#this is like trhe describe in panadas and in this case the null is there because its a string
df_pyspark.describe().show()

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  NULL|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|  NULL| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Harsha|                21|                1|             15000|
|    max| Sunny|                31|               10|             30000|
+-------+------+------------------+-----------------+------------------+

In [42]:
#adding columns in a pyspark dataframe

#basically adding the new columns plus two
df_pyspark= df_pyspark.withColumn('Experience after 2 years',df_pyspark['Experience']+2)

In [43]:
df_pyspark.show()

+---------+---+----------+------+------------------------+
|     Name|age|Experience|Salary|Experience after 2 years|
+---------+---+----------+------+------------------------+
|    Krish| 31|        10| 30000|                      12|
|Sudhanshu| 30|         8| 25000|                      10|
|    Sunny| 29|         4| 20000|                       6|
|     Paul| 24|         3| 20000|                       5|
|   Harsha| 21|         1| 15000|                       3|
|  Shubham| 23|         2| 18000|                       4|
+---------+---+----------+------+------------------------+

In [44]:
# dropping columns

df_pyspark= df_pyspark.drop('Experience after 2 years')

In [45]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [46]:
#renaming the column

df_pyspark.withColumnRenamed('Name', 'New Name').show()

+---------+---+----------+------+
| New Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

# PySpark handling Missing values

In [48]:
from pyspark.sql import SparkSession
spark= SparkSession.builder.appName('Practise').getOrCreate()

In [57]:
new_df= spark.read.option('header','true').csv('/content/test2.csv')
new_df.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
|     NULL|  36|      NULL|  NULL|
+---------+----+----------+------+

In [61]:
#dropping the null values from rows

new_df.na.drop().show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [62]:
# any== how
#this bascilaly drops rows  that only has straight up null values leaving the other random nulls there
new_df.na.drop(how="all").show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
|     NULL|  36|      NULL|  NULL|
+---------+----+----------+------+

In [63]:
#any is the default value where it removes all null values

new_df.na.drop(how="any").show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [ ]:
#threshold , the last row was deleted , at least two non  null values gets deletrd
new_df.na.drop(how="any", thresh= 2).show()

In [65]:
#subset, is bascial;ly only dropping null values from a spefic column

new_df.na.drop(how="any",subset=['age']).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|     NULL| 34|        10| 38000|
|     NULL| 36|      NULL|  NULL|
+---------+---+----------+------+

In [67]:
# filling in the missing values
#this fills in thre nulls with Missing value
new_df.na.fill('Missing value').show()

+-------------+-------------+-------------+-------------+
|         Name|          age|   Experience|       Salary|
+-------------+-------------+-------------+-------------+
|        Krish|           31|           10|        30000|
|    Sudhanshu|           30|            8|        25000|
|        Sunny|           29|            4|        20000|
|         Paul|           24|            3|        20000|
|       Harsha|           21|            1|        15000|
|      Shubham|           23|            2|        18000|
|       Mahesh|Missing value|Missing value|        40000|
|Missing value|           34|           10|        38000|
|Missing value|           36|Missing value|Missing value|
+-------------+-------------+-------------+-------------+

In [68]:
#this is filling in the missing values in certain columns ['Name', 'Age'] with  Missing value
new_df.na.fill('Missing value', ['Name', 'Age']).show()

+-------------+-------------+----------+------+
|         Name|          age|Experience|Salary|
+-------------+-------------+----------+------+
|        Krish|           31|        10| 30000|
|    Sudhanshu|           30|         8| 25000|
|        Sunny|           29|         4| 20000|
|         Paul|           24|         3| 20000|
|       Harsha|           21|         1| 15000|
|      Shubham|           23|         2| 18000|
|       Mahesh|Missing value|      NULL| 40000|
|Missing value|           34|        10| 38000|
|Missing value|           36|      NULL|  NULL|
+-------------+-------------+----------+------+

In [88]:
new_df.dtypes

[('Name', 'string'),
 ('age', 'string'),
 ('Experience', 'string'),
 ('Salary', 'string')]

In [91]:
#this is cahning the data types of the columns
from pyspark.sql.types import FloatType

new_df= new_df\
.withColumn('age',
            new_df['age']
            .cast(FloatType()))\
.withColumn('Experience',
            new_df['Experience']
            .cast(FloatType()))\
.withColumn('Salary',
            new_df['Salary']
            .cast(FloatType()))

new_df.dtypes

[('Name', 'string'),
 ('age', 'float'),
 ('Experience', 'float'),
 ('Salary', 'float')]

In [92]:
# we are going to fill in the null values with mean using the sk learn imputer function

from pyspark.ml.feature import Imputer

imputer= Imputer(
    inputCols= ['age', 'Experience', 'Salary'],
    outputCols=['{}_imputed'.format(c) for c in ['age', 'Experience', 'Salary']]
    ).setStrategy("mean")

    #you can change the set strategy to mode , median

In [93]:
#add imputation cols to df , you can see the columns with the _imputed

imputer.fit(new_df).transform(new_df).show()

+---------+----+----------+-------+-----------+------------------+--------------+
|     Name| age|Experience| Salary|age_imputed|Experience_imputed|Salary_imputed|
+---------+----+----------+-------+-----------+------------------+--------------+
|    Krish|31.0|      10.0|30000.0|       31.0|              10.0|       30000.0|
|Sudhanshu|30.0|       8.0|25000.0|       30.0|               8.0|       25000.0|
|    Sunny|29.0|       4.0|20000.0|       29.0|               4.0|       20000.0|
|     Paul|24.0|       3.0|20000.0|       24.0|               3.0|       20000.0|
|   Harsha|21.0|       1.0|15000.0|       21.0|               1.0|       15000.0|
|  Shubham|23.0|       2.0|18000.0|       23.0|               2.0|       18000.0|
|   Mahesh|NULL|      NULL|40000.0|       28.5|          5.428571|       40000.0|
|     NULL|34.0|      10.0|38000.0|       34.0|              10.0|       38000.0|
|     NULL|36.0|      NULL|   NULL|       36.0|          5.428571|       25750.0|
+---------+----+----------+-------+-----------+------------------+--------------+