In [1]:
#for loop, will keep on putting one value at a time

lst1=[12,23,34,45,56,67,78,89,90,21,32,43,54,65,76,87,98,9]

for i in lst1:
  print('value of i', i)

value of i 12
value of i 23
value of i 34
value of i 45
value of i 56
value of i 67
value of i 78
value of i 89
value of i 90
value of i 21
value of i 32
value of i 43
value of i 54
value of i 65
value of i 76
value of i 87
value of i 98
value of i 9

In [2]:
#this prints each value once at a time
tup1=('apple','cherry','dates','strawberry','grapes','fig')

for i in tup1:
  print('value of i', i)

value of i apple
value of i cherry
value of i dates
value of i strawberry
value of i grapes
value of i fig

In [4]:
#set is a collection of unordered values, his just prints out everything
set1={'apple','cherry','dates','strawberry','grapes','fig',12,23,34,45,56,67,78,89,90,21,32,43,54,65,76,87,98,9}
for i in set1:
  print('value of i', i)

value of i 65
value of i 67
value of i strawberry
value of i 9
value of i 12
value of i 76
value of i 78
value of i 21
value of i 23
value of i 87
value of i 89
value of i 90
value of i apple
value of i 32
value of i 34
value of i grapes
value of i fig
value of i 98
value of i 43
value of i 45
value of i dates
value of i 54
value of i 56
value of i cherry

In [6]:
str1='Peppa prefer python programming'
print(len(str1)) #this counts the string
for i in str1:
  print('value of i',i)

31
value of i P
value of i e
value of i p
value of i p
value of i a
value of i
value of i p
value of i r
value of i e
value of i f
value of i e
value of i r
value of i
value of i p
value of i y
value of i t
value of i h
value of i o
value of i n
value of i
value of i p
value of i r
value of i o
value of i g
value of i r
value of i a
value of i m
value of i m
value of i i
value of i n
value of i g

In [12]:
dict1 = {'a':'apple', 'b':'ball', 'c': 'cat', 'd': 'doll'}. #this one only shows the key not the value

for i in dict1:
  print('value of i ', i)

value of i  a
value of i  b
value of i  c
value of i  d

In [8]:
for i in range(10): #0,1,2,3,4,5,6,7,8,9
  print('value of i',i)

value of i 0
value of i 1
value of i 2
value of i 3
value of i 4
value of i 5
value of i 6
value of i 7
value of i 8
value of i 9

In [11]:
for i in range(0,10,1): #0,1,2,3,4,5,6,7,8,9. #range is how long you want the numbers to go to, (start,range,skip)
  print('value of i',i)

value of i 0
value of i 1
value of i 2
value of i 3
value of i 4
value of i 5
value of i 6
value of i 7
value of i 8
value of i 9

In [17]:
#my own example

for i in range(1,20,2):  #starts at 1, goes up to 20, skips 2
  print('this is the value of i', i)

this is the value of i 1
this is the value of i 3
this is the value of i 5
this is the value of i 7
this is the value of i 9
this is the value of i 11
this is the value of i 13
this is the value of i 15
this is the value of i 17
this is the value of i 19

In [18]:
str1= "cheeseburger"

for i in str1:
  print("text", i)

text c
text h
text e
text e
text s
text e
text b
text u
text r
text g
text e
text r

In [54]:
lst2= [6,8,9,0,89,34,87,345,92,990, "cow", "sheep"]

for i in lst2:
  print("this is the value of i ", i)

this is the value of i  6
this is the value of i  8
this is the value of i  9
this is the value of i  0
this is the value of i  89
this is the value of i  34
this is the value of i  87
this is the value of i  345
this is the value of i  92
this is the value of i  990
this is the value of i  cow
this is the value of i  sheep

In [61]:
for i in range(10): # 0,1 #this top range is the length
  for j in range(10): # 0,1,2,3,4,5,6,7,8,9 #this is the width
    print('*', end=' ') #ends helps it become the width too
  print('\r') #this changes the row

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [68]:
#question: change the astricts into numbers

a= 0
for i in range(10): # 0,1.
  for j in range(0,10): # 0,1,2,3,4,5,6,7,8,9
    print( a, end=' ')
    a+=1
  print('\r') #this changes the row

0 1 2 3 4 5 6 7 8 9
10 11 12 13 14 15 16 17 18 19
20 21 22 23 24 25 26 27 28 29
30 31 32 33 34 35 36 37 38 39
40 41 42 43 44 45 46 47 48 49
50 51 52 53 54 55 56 57 58 59
60 61 62 63 64 65 66 67 68 69
70 71 72 73 74 75 76 77 78 79
80 81 82 83 84 85 86 87 88 89
90 91 92 93 94 95 96 97 98 99

In [81]:
for i in range(10): #draw ten rows
  for j in range(0,10-i): # bottom of triangle, so as it prints each astrit it removes 1 since 10-i)
    print(' ', end='')
  for k in range(0,i+1): #this prints the rows, so the top of the truangle plus one each time i+1
    print('*', end =' ')
  print('\r')

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [147]:
# i have to invert it

for i in range(10): #draw ten rows
  for j in range(0,i+1): #this is the bottom of the triangle ,
    print(' ', end='')
  for k in range(0,10-i): #this is the top
    print('*', end =' ')
  print('\r')

 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *

In [176]:
#make an hour glass shape

for i in range(10):
  for j in range(0,i+1):
    print(' ', end='')
  for k in range(0,10-i):
    print('*', end =' ')
  print('\r')


for i in range(10):
  for j in range(0,9-i):
    print(' ', end='')
  for k in range(0,i+2):
    print('*', end =' ')
  print('\r')

 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *
* * * * * * * * * * *

In [198]:
for i in range(10): #draw ten rows
  for j in range(0,10-i): # bottom of triangle, so as it prints each astrit it removes 1 since 10-i)
    print(' ', end='')
  for k in range(0,i+1): #this prints the rows, so the top of the truangle plus one each time i+1
    print('*', end =' ')
  print('\r')

for i in range(10): #draw ten rows
  for j in range(0,i+1): #this is the bottom of the triangle ,
    print(' ', end='')
  for k in range(0,10-i): #this is the top
    print('*', end =' ')
  print('\r')

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *
 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *

In [294]:
#make the shape hollow

for i in range(10): #draw ten rows
  for j in range(0,10-i): # bottom of triangle, so as it prints each astrit it removes 1 since 10-i)
    print(' ', end='')
    print('*', end =' ')
  print('\r')

 *  *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *
 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *