In [ ]:
a=[1,2,3,4,5]

In [ ]:
dir(a)

In [ ]:
#append: this adds another value to the end of the list
a=[1,2,3,4,5]
print("before append", a)
a.append(8)
print("after append", a)

In [ ]:
#clear: all elements of the list are removed
a=[1,2,3,4,5]
print("before clear", a)
a.clear()
print("after clear", a)
a.clear()
print(len(a))

In [ ]:
#copy: elements are copied but once it is copied if orginal is changed then it wont change with iy
a_list=[1,2,3,4,5,6,7]
b_list=a_list #what ever happpens to alist then will happen to blist
c_list=a_list.copy() #once the copy is done then whatever is done to alistr after then it does not change with it
print("before actual list", a_list)
print("equal list", b_list)
print("copy list", c_list)
print("=============================")


a_list.append(8)
print(" after actual list", a_list)
print("equal list", b_list)
print("copy list", c_list)

In [ ]:
#count: this counts how many times a number appears in the list
a_list=[1,2,3,4,5,6,7,1,2,22,1, "a","b", "c"]
print("this number appears this many times:", a_list.count(7))
print("this number appears this many times:",a_list.count(1))
print("this letter appears this many times:",a_list.count("b"))

In [ ]:
#the len is only 8 since the list added is only one element not 3
a_list=[1,2,3,4,5,6,7]
a_list.append([8,9,10])
print('append function', a_list)
print('append function len ', len(a_list))

In [ ]:
#extend function added each element as its own number
a_list=[1,2,3,4,5,6,7]
a_list.extend([8,9,10])
print('extend function', a_list)
print('extend function len ', len(a_list))

In [ ]:
#print remove 9 out , so you use double indexing
a_list=[1,2,3,4,5,6,7]
a_list.append([8,9,10])
print(a_list[7][1])

In [ ]:
#print out the second list reveresed

a_list=[1,2,3,4,5,6,7]
a_list.append([8,9,10])
print(a_list[7][::-1])

In [ ]:
#index:this counts the index of whatever value you put, it gives the index of the first value , it will give an error if it is not in the list and it will specifically say that it's not in the list

a_list=[11,22,33,44,55,66,77,33]
print(a_list.index(33))
print(a_list.index(55))

In [ ]:
# insert: function takes in two values index and object/value/number .. it will put the value in an index, so they put 111 in 3 index place
a_list=[11,22,33,44,55,66,77,33]
a_list.insert(3,111)
a_list

In [ ]:
#pop function: removes the last value in the function or a number at spefic index
a_list=[11,22,33,44,55,66,77,33]
print(a_list.pop())
print(a_list)


a_list=[11,22,33,44,55,66,77,33]  #this removed the value at the 4index with was 55
print(a_list.pop(4))
print(a_list)

In [ ]:
# remove function: this removes the number value you put in, if there are multiple it only removes one
a_list=[11,22,33,44,55,66,77,33]
a_list.remove(55)
print(a_list)

In [ ]:
#reverse: this just reverses the list
a_list=[11,22,33,44,55,66,77,33]
a_list.reverse()
print(a_list)

[33, 77, 66, 55, 44, 33, 22, 11]

In [ ]:
#Sort: this sorts the lis in asc order , smallest to biggest
a_list=[11,55,77,44,8,66,22]
a_list.sort()
print(a_list)

In [ ]:
#Sort: this sorts the lis in desc order , biggest to smallest
a_list=[11,55,77,44,8,66,22]
a_list.sort(reverse=True)
print(a_list)

In [ ]:
b_tup=(1,2,3,4)
dir(b_tup)

In [ ]:
#count function counts how many times a number appears
b_tup=(1,2,3,4,2,4)
b_tup.count(4)

In [ ]:
#index function counts the index of a number
b_tup=(1,2,3,4,2,4)
b_tup.index(4)

In [ ]:
#Question 1) Remove all repeated elements from the list Given below using for loop.
a=[1,2,3,4,5,11,1,2,6,1,8]

for i in a:
  print(set(a))

In [ ]:
#Question 2) Print all prime numbers below 100
# i do not understrand this one i need help
for i in range(2, 100):
    is_prime = True

    for j in range(2, int(i ** 0.5) + 1):
        if i % j == 0:
            is_prime = False
            break

    if is_prime:
        print(i, "is a prime number")

2 is a prime number
3 is a prime number
5 is a prime number
7 is a prime number
11 is a prime number
13 is a prime number
17 is a prime number
19 is a prime number
23 is a prime number
29 is a prime number
31 is a prime number
37 is a prime number
41 is a prime number
43 is a prime number
47 is a prime number
53 is a prime number
59 is a prime number
61 is a prime number
67 is a prime number
71 is a prime number
73 is a prime number
79 is a prime number
83 is a prime number
89 is a prime number
97 is a prime number

In [ ]:
# 3.print a list in reverse order using for loop
#review this as well
lst1 = [1,6,3,8,3,92,6,85,25,71,65]
print("List before reverse : ",lst1)
reversed_list = []
for i in lst1:
  reversed_list = [i] + reversed_list
print("List after reverse : ", reversed_list)

List before reverse :  [1, 6, 3, 8, 3, 92, 6, 85, 25, 71, 65]
List after reverse :  [65, 71, 25, 85, 6, 92, 3, 8, 3, 6, 1]

In [ ]:
# 4.print multiplication table of 13 using for loop

numbera= 13
for count in range(0,30):
  print(count, 'x', numbera, '=:',count *numbera)

0 x 13 =: 0
1 x 13 =: 13
2 x 13 =: 26
3 x 13 =: 39
4 x 13 =: 52
5 x 13 =: 65
6 x 13 =: 78
7 x 13 =: 91
8 x 13 =: 104
9 x 13 =: 117
10 x 13 =: 130
11 x 13 =: 143
12 x 13 =: 156
13 x 13 =: 169
14 x 13 =: 182
15 x 13 =: 195
16 x 13 =: 208
17 x 13 =: 221
18 x 13 =: 234
19 x 13 =: 247
20 x 13 =: 260
21 x 13 =: 273
22 x 13 =: 286
23 x 13 =: 299
24 x 13 =: 312
25 x 13 =: 325
26 x 13 =: 338
27 x 13 =: 351
28 x 13 =: 364
29 x 13 =: 377

In [ ]:
#hw august 18 due before 12:00pm est . use all the set inbuilt functions and dict inbuiltfunctions


#set


st1= (1,2,45,78,987,2,9)

dir(st1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
#dict

dict1= {1:"ham",45:"cheese",9:"salami",2:"9"}

dir(dict1)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']