In [ ]:
#parent class inherirants from its parents class

In [ ]:
#inheritence: passing on characteristics or abilities from one thing to another, just like how children inherit traits from their parents.
#great grandparentclass
class transportation:
  pass

 #grandparent
class air(transportation):


class water(transportation):


class land(transportation):
#parent
class wheeler(land):
  pass
  class wheeler2(land):
  pass
  class wheeler3(land):
  pass
  class wheeler4(land):
  pass
  class wheeler5(land):
  pass
  class wheeler6(land):
  pass
  class wheeler7(land):
  pass
 #child
 class gas(wheeler):
  pass

 class petrol(wheeler):
  pass

class electric(wheeler):
  pass

  class battery(wheeler):
  pass

In [ ]:
class person:
  def __init__(self, fname, lname):
    self.fname=fname
    self.lname=lname

  def printname(self):
    print(self.fname, "",self.lname )

In [ ]:
obj1=person("Ash", "Viz")

In [ ]:
obj1.printname()

Ash  Viz

In [ ]:
class person:
  def __init__(self, fname, lname):
    self.fname=fname
    self.lname=lname

  def printname(self):
    print(self.fname, "",self.lname )

In [ ]:
class childclass(person):   #this is inhertiting everything from the person class
  pass

In [ ]:
obj2=childclass("ash", "viz")

In [ ]:
obj2.printname()

ash  viz

In [ ]:
class person:
  def __init__(self, fname, lname):
    self.fname=fname
    self.lname=lname

  def printname(self):
    print("class person:",self.fname, "",self.lname )

In [ ]:
class childclass(person):
  def __init__(self,fname,lname):
    self.fname=fname
    self.lname=lname

  def printname(self):
    print("class childclass(person):", self.fname, "",self.lname )

In [ ]:
obj1=childclass("ash", "viz")

In [ ]:
obj1.printname()

class childclass(person): ash  viz

In [ ]:
class person:
  def __init__(self, fname, lname):
    self.fname=fname
    self.lname=lname

  def printname(self):
    print("class person:",self.fname, "",self.lname )

In [ ]:
class childclass(person):
  def __init__(self,fname, lname):
    self.fname=fname
    self.lname=lname

In [ ]:
obj1=childclass("ash", "viz")

In [ ]:
obj1.printname()

class person: ash  viz

In [ ]:
class parent:
  def __init__(self, age, height, location):
    self.age=age
    self.height=height
    self.location=location

  def info(self):
    print("my age is:", self.age,  "and i am ", self.height,"inches" "   " "and I am from", self.location)

In [ ]:
class child(parent):
  def __init__(self, age, height, location):
    self.age=age
    self.height=height
    self.location=location

In [ ]:
obj1=child(82, 56 , "NYC")

In [ ]:
obj1.info()

my age is: 82 and i am  56 inches   and I am from NYC

In [ ]:
#parent class
class Person:
  def __init__(self, fname, lname):
    self.fname=fname
    self.lname=lname

  def printname(self):
    print("class person:",self.fname, "",self.lname )

In [ ]:
#child class with super inbuilt function,that will make the child class inherit all the methods and properties from its parent:
class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)

In [ ]:
obj1=Student("Ash", "ciz")

In [ ]:
obj1.printname() #this is running from the parent class

class person: Ash  ciz

In [ ]:
class Car:
  def __init__(self, name, model):
    self.name=name
    self.model=model
  def print_details(self):
    print("class car:",self.name,self.model )

In [ ]:
class Audi(Car):
  def __init__(self, name, model):
    super().__init__(name,model)

In [ ]:
obj1= Audi("Audiq7",2007 )

In [ ]:
obj1.print_details()

class car: Audiq7 2007

In [ ]:
class Audi(Car):
  def __init__(self, name, model, make):
    super().__init__(name,model)
    self.make=1978

  def print_details(self):
    print("class car:",self.name, self.model, self.make)

In [ ]:
obj1= Audi("Audiq7", 2007, 1978)

In [ ]:
obj1.print_details()

class car: Audiq7 2007 1978

In [ ]:
class Countries:
  def __init__(self, name, currency):
    self.name=name
    self.currency=currency

  def country_info(self):
    print("Country:", self.name,"Currency:", self.currency )

In [ ]:
class Capitals(Countries):
  def __init__(self, name, currency, captiol):
    super().__init__(name, currency)
    self.captiol=captiol
  def captiol_info(self):
    print("caps:",self.captiol  )

In [ ]:
obj1=Capitals("Dominican Rep", "Peso", "Santo Domingo")

In [ ]:
obj1.country_info()
obj1.captiol_info()

Country: Dominican Rep Currency: Peso
caps: Santo Domingo