In [ ]:
if x < y:
  print(x,"is smaller than", y)
elif x > y:
  print(x, "is greater than ", y)
else:
  print(x,"is equal to", y)




#lambda equvailent
result = lambda x,y : f"{x} is smaller than {y}" \
if x < y else (f"{x} is greater than {y}" if x > y \
               else f"{x} is equal to {y}")

In [14]:
if(percentage>=78):
  print("pass with first class distinction")
elif(percentage>=60):
  print("pass with first class")
elif(percentage>=40):
  print("pass with second class")
elif(percentage>=33):
  print("pass with third class")
else:
  print("better luck next time")

NameError: ignored

In [12]:
result = lambda percentage: f"{percentage} pass with first class distinction" if percentage >= 78 else (\
                            f"{percentage} pass with first class" if percentage >= 60  else (\
                            f"{percentage} pass with second class" if percentage >= 40  else (\
                            f"{percentage} pass with third class" if percentage >= 33  else (\
                            f"{percentage} better luck next time"))))

In [13]:
grade(79),grade(65),grade(49),grade(39)

('79 pass with first class distinction',
 '65 pass with first class',
 '49 pass with second class',
 '39 pass with third class')

#*args

In [17]:
def func_sum(a,b):
  return a+b

In [18]:
def func_sum(a,b,c,d):
  return a+b+c+d

In [19]:
def func_sum(a,b,c,d,a1,b1,c1,d1):
  return a+b+c+d+a1+b1+c1+d1

In [29]:
def func_sum(*args): #args takes any number of parameters,limitless (non-key arguments)
  return args


func_sum(1,2,3,4,6,78,74,90)

(1, 2, 3, 4, 6, 78, 74, 90)

In [91]:
def add_vals(*Ash):
  for i in Ash:
    return sum(Ash)

In [92]:
add_vals(1,7,9,8)

25

In [83]:
def func_sum(a,b,c,*args): #args takes any number of parameters,limitless (non-key arguments)
  return a+b+c+(sum(args))

In [85]:
func_sum(1,2,3,4,98,78)

186

In [94]:
def func_sum(*args,a,b,c,d,e): #since arg takes all the arguments then it makes it false
  return a+b+c+d+e(sum(args))

In [95]:
func_sum(1,2,3,4,98,78)

TypeError: ignored

In [ ]:
def func_sum(*args,a,b,c,d,e): #since arg takes all the arguments then it makes it false
  return a+b+c+d+e(sum(args))

In [ ]:
def func_sum(*args): #args takes any number of parameters,limitless (non-key arguments)
  return args


func_sum(1,2,3,4,6,78,74,90)

In [102]:
def func_new(*args,val,val2,val3,val4,val5):
  for i in func_new:
    print(i)

In [104]:
func_new("Ha",2,"words",4,"not work",78)

TypeError: ignored

#**Kwargs

In [105]:
def func_sum(**kwargs): #when you want to pass a value in **kwargs, you have to pass it in form of key and vlaue
  return kwargs

In [106]:
func_sum(fname="ash", mname="hg", lname="had")

{'fname': 'ash', 'mname': 'hg', 'lname': 'had'}

In [137]:
def new_func(**kwargs):
  return kwargs

In [139]:
new_func(fruit=7, veg=8, bread=3.60)

{'fruit': 7, 'veg': 8, 'bread': 3.6}

In [159]:
def new_func(*args,**kwargs):
  for i in args:
    return sum(args),kwargs

In [161]:
new_func(7,8,9, Fruit="blueberry")

(24, {'Fruit': 'blueberry'})

In [162]:
#first value should be kwargs, args, and anythong

In [164]:
def new_func(**kwargs,*args, new):
  for i in args:
    return sum(args),kwargs

SyntaxError: ignored

In [167]:
def new_func(*args,**kwargs,new):
  for i in args:
    return sum(args),kwargs,new

SyntaxError: ignored

In [168]:
def new_func(new,*args,**kwargs):
  for i in args:
    return new,sum(args),kwargs