In [1]:
numbers = [1, 2, 3, 4, 5]
square_dict = {num: num**2 for num in numbers}

In [2]:
square_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [3]:
words = ["apple", "banana", "cherry", "date"]
word_lengths = {word: len(word) for word in words}

In [4]:
square_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
# sets

In [5]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_set = {num for num in numbers if num % 2 == 0}

In [6]:
even_set

{2, 4, 6, 8, 10}

In [9]:
sentence = "The quick brown fox jumps over the lazy dog"
vowel_set = {char.lower() for char in sentence if char.lower() in sentence}

In [10]:
vowel_set

{' ',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z'}

In [11]:
words = ["apple", "banana", "cherry", "date"]
unique_first_letters = {word[0].lower() for word in words}

In [12]:
unique_first_letters

{'a', 'b', 'c', 'd'}

In [19]:
#generators
numbers = [1, 2, 3, 4, 5]
square_generator = (num**2 for num in numbers)

In [23]:
square_list = list(square_generator)
print(square_list)

[1, 4, 9, 16, 25]

In [24]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
filtered_generator = (num for num in numbers if num % 2 == 0)

In [25]:
filtered_generator= list(filtered_generator)
print(filtered_generator)

[2, 4, 6, 8, 10]

#Lambda review- it is an anynoums function.

In [26]:
# lambda

x=lambda x,y: x*y              #x and y are the tow inputs and you preform operations on them
x(12,23)                             #then ypu are passing values to your program

276

In [29]:
str1="python programming"
x=lambda str1: str1.upper() #in this function we are passing the varaible str1 and passing the upper operation to it
x(str1)

'PYTHON PROGRAMMING'

In [32]:
x=lambda a,b: a if (a>b) else b #we are passing two values, and using the if else, so if a is greater than b it prints if not b prints
x(12,23)

23

In [33]:
#*args **kwargs

def func_one(a,b):
  return a *b


func_one(12,23)

276

In [35]:
def func_two(*args): #*args is not a key word, you can replace args, its just best practice to do so
  return args

func_two(12,23,45,56,76,89,45,56,76,89)

(12, 23, 45, 56, 76, 89, 45, 56, 76, 89)

In [36]:
# **kwargs


def func_three(**kwargs):
  return kwargs

In [37]:
func_three(a="apple",b="banana", c="cherries", d="dates", e="eggfruit")

{'a': 'apple', 'b': 'banana', 'c': 'cherries', 'd': 'dates', 'e': 'eggfruit'}

In [38]:
def func_for(a,b, *args, **kwargs):
  return a,b, args, kwargs

In [39]:
func_for("apple", "bat", 1,2,3,3,4,5,6,7, c="cheese", d="dog")

('apple', 'bat', (1, 2, 3, 3, 4, 5, 6, 7), {'c': 'cheese', 'd': 'dog'})

In [40]:
import pandas as pd

In [41]:
path= "" #path is from where we want to read the file

In [ ]:
df_bf=pd.read_cvs(path)

In [ ]:
df_bf

In [ ]:
df_bf.to_excel("blackfriday_excel.xlsx") #makes the file a excel file