Python Data Types

1.Standard data type
1.Numbers
1a. interger
1b.float
1c.complex
2.Booolean
3.String

2.structured data types
1.list
2.tuple
2.set
4dictionoary

In [ ]:
#interger: any whole number (+ or -) is an interger

int1 =1974

print (int1)

print(type(int1))

int2 =-1974

print (int2)

print(type(int2))

1974
<class 'int'>
-1974
<class 'int'>

In [ ]:
#float: any combination of whole number and fractional number is called a float.. so decimals

flt1= 3.1415

print(flt1)

print(type(flt1))


flt1= -3.1415

print(flt1)

print(type(flt1))

3.1415
<class 'float'>
-3.1415
<class 'float'>

In [ ]:
#complex number : combination of interger or float and imageninary number interger or float is called complex positive or negative used more in scientific calculations more into research and imaginary numbers

cmplx1= 2+3j
print(cmplx1)
print(type(cmplx1))

cmplx1= 2.98+3j
print(cmplx1)
print(type(cmplx1))

cmplx1= 2.98+-90j
print(cmplx1)
print(type(cmplx1))

(2+3j)
<class 'complex'>
(2.98+3j)
<class 'complex'>
(2.98-90j)
<class 'complex'>

In [ ]:
#boolean: comprised of two values True or False the numeric value of true is 1 and false is 0

bool1= True
print(bool1)
print(type(bool1))

bool1= False
print(bool1)
print(type(bool1))

True
<class 'bool'>
False
<class 'bool'>

In [ ]:
#string: a combination of charcter anything in '' or "" is a string

str1= 'Python progam'
print(str1)
print(type(str1))

str1= "Python progam"
print(str1)
print(type(str1))


str1= '''Python progam'''
print(str1)
print(type(str1))



str1= """Python progam"""
print(str1)
print(type(str1))


str1= """&8%#@#$%"""
print(str1)
print(type(str1))



str1= 'P()00897867$%$#%$%)m'
print(str1)
print(type(str1))

Python progam
<class 'str'>
Python progam
<class 'str'>
Python progam
<class 'str'>
Python progam
<class 'str'>
&8%#@#$%
<class 'str'>
P()00897867$%$#%$%)m
<class 'str'>

In [ ]:
#my own string example


str2= "how are you today ?" 'I am well.' """Thats awesome"""


print (str2)

print(type(str2))

how are you today ?I am well.Thats awesome
<class 'str'>

#Data structure data types 1.list 2.tuple 2.set 4dictionoary

In [ ]:


#list example, important things about lists

# 1. list is represented by square bracets []
#2.list is mutable ( so it can be changed)


lst1= [1,3,6,7,8,9,678]

print (lst1)

print(type(lst1))

[1, 3, 6, 7, 8, 9, 678]
<class 'list'>

In [ ]:
#tuple

#1. tuple is represented by parthesis ()
#2. Tuple is immuatble ( so that means you cannot chanbge elenmts in tuple)

tupl1= (1,2,2,3,5,5,777)
print (tupl1)

print(type(tupl1))

(1, 2, 2, 3, 5, 5, 777)
<class 'tuple'>

In [ ]:
#Set
#1. set is a combination of unique values
#2. set is a collection of unordered elements (so it desplays the values randomly not in any sequence )
#3. set is represented by curly brackets {}
#4. set is mutable
set1= {"a", "b", "c", "D", "E", "F", 1,6,8,9,"@", "#", "*"}
print (set1)

print(type(set1))

{1, 'F', '*', 'b', 6, 8, 9, 'D', '#', 'E', '@', 'c', 'a'}
<class 'set'>

In [ ]:
# my own example


#list should be float, complex, boolean,

list1=  ["ham", 0.89, 1, -56, 76j*6, True]

print (list1)

print(type(list1))
#tuple should be float, complex, boolean,
tup1=  ("ham", 0.89, 1, -56, 76j*6, True)

print (tup1)

print(type(tup1))

#set should be float, complex, boolean,

set1=  {"ham", 0.89, 1, -56, 76j+6, False
}
print (set1)

print(type(set1))



set1=  {"ham", 0.89, 1, -56, 76j+6, False, "$", "@", "!", 0, 1, True
}
print (set1)

print(type(set1))

['ham', 0.89, 1, -56, 456j, True]
<class 'list'>
('ham', 0.89, 1, -56, 456j, True)
<class 'tuple'>
{0.89, 1, False, 'ham', -56, (6+76j)}
<class 'set'>
{0.89, 1, False, '$', 'ham', -56, (6+76j), '!', '@'}
<class 'set'>

In [ ]:
dict1= {'a':'apple',
        'b':'banana',
        'c':'cherry'}

print (dict1)
print(type(dict1))

{'a': 'apple', 'b': 'banana', 'c': 'cherry'}
<class 'dict'>

In [ ]:
#example dictionary with set, tuple, and list

dict1 = {'key1':{345, 76, "apple"},

         'key2': (4.8, "horse", -98),

         'key3': [97, "cool", False]}
print (dict1)
print(type(dict1))

{'key1': {345, 'apple', 76}, 'key2': (4.8, 'horse', -98), 'key3': [97, 'cool', False]}
<class 'dict'>

In [ ]:
#indexing it starts at zero and it counts up the length but index is 16, space is also considered an index value

str1 = "Carsaregreattouse"
print(str1)
print(type(str1))

print(len(str1))

print(str1[0])
print(str1[1])
print(str1[2])
print(str1[3])
print(str1[4])

Carsaregreattouse
<class 'str'>
17
C
a
r
s
a

In [ ]:
#print out the certain postion , so slicing , the third number is the step value so how many letters it jumps over
# this is how it is written [index: length: skipvalue]
str1 = "Carsaregreattouse"
print(str1)
print(type(str1))

print(str1[4:7: 1], str1[12:17:1])

print(str1[0:17])

print(str1[::])
print(str1[0::])
print(str1[0::])
print(str1[:4:])
print(str1[12::])
print(str1[0:17:3])

str1[:len(str1):]

Carsaregreattouse
<class 'str'>
are touse
Carsaregreattouse
Carsaregreattouse
Carsaregreattouse
Carsaregreattouse
Cars
touse
Cseets

'Carsaregreattouse'

Cseets

In [ ]:
#string fuctions inbilt fuctions, all fuctions that is avaible within python

In [ ]:
# 08/10 Thursday

str1='Peppa prefer Python Programming'

print(str1[:5], str1[5:12], str1[13:19], str1[20:])


print(len(str1))

Peppa  prefer Python Programming
31

In [ ]:
#negative slicing, is is negtive indexing going right to left

str1= 'cars are too cool '
print(str1[::1])
print(str1[::-1])

print(str1[-1:-6:-1])

cars are too cool
 looc oot era srac
 looc

In [ ]:
str1='Peppa prefer Python Programming'

print(str1[-1:-12:-1], str1[-13:-19:-1], str1[-20:-27:-1], str1[-25:-32:-1] )

gnimmargorP nohtyP referp  p appeP

In [ ]:
str1 = 'Venkatanarasimharajuvaripeta'
print(str1)
print( str1[-22:-30:-1], str1[-11:-22:-1], str1[-1:-11:-1],)

print(len(str1))

Venkatanarasimharajuvaripeta
atakneV arahmisaran atepiravuj
28

'a'

In [ ]:
#postive indexing and negative slicing


#[start:length:skipping in characters ]
str1='VenkataNarasimhaRajuvaripeta'

str1[6::-1], str1[15:6:-1], str1[27:15:-1]



str2='Peppa prefer Python Programming'

print(str2[4::-1],str2[-19:4:-1], str2[19:12:-1], str2[31:19:-1] )


print(len(str2))

appeP  referp   nohtyP gnimmargorP
31

In [ ]:
#negative indexing and positive slicing


str2='Peppa prefer Python Programming'

print(str2[-31:-26:1])


str1='VenkataNarasimhaRajuvaripeta'

print(str1[-28:-21:1],str1[-21:-12:1], str1[-12::1] )

print(len(str1))

Peppa
Venkata Narasimha Rajuvaripeta
28

In [ ]:

lst1=['apple','banana','cherries', 'dates', 'egg', 'fig', 'honeyfruit', 'icefruit']
print(lst1)

print(type(lst1))

['apple', 'banana', 'cherries', 'dates', 'egg', 'fig', 'honeyfruit', 'icefruit']
<class 'list'>

['apple',
 'banana',
 'cherries',
 'dates',
 'egg',
 'fig',
 'honeyfruit',
 'icefruit']

In [ ]:

lst1[0], lst1[1], lst1[2], lst1[3], lst1[4], lst1[5], lst1[6], lst1[7]


print(lst1[::])
print(lst1[0::])
print(lst1[:len(lst1):])
print(lst1[::1])
print(lst1[0::])

print(lst1[0:len(lst1):1])
print(lst1[::-1])

print(lst1[-1::-1])
print(lst1[8::-1])
print(lst1[-9::1])

print(lst1[7::-1])

['apple', 'banana', 'cherries', 'dates', 'egg', 'fig', 'honeyfruit', 'icefruit']
['apple', 'banana', 'cherries', 'dates', 'egg', 'fig', 'honeyfruit', 'icefruit']
['apple', 'banana', 'cherries', 'dates', 'egg', 'fig', 'honeyfruit', 'icefruit']
['apple', 'banana', 'cherries', 'dates', 'egg', 'fig', 'honeyfruit', 'icefruit']
['apple', 'banana', 'cherries', 'dates', 'egg', 'fig', 'honeyfruit', 'icefruit']
['apple', 'banana', 'cherries', 'dates', 'egg', 'fig', 'honeyfruit', 'icefruit']
['icefruit', 'honeyfruit', 'fig', 'egg', 'dates', 'cherries', 'banana', 'apple']
['icefruit', 'honeyfruit', 'fig', 'egg', 'dates', 'cherries', 'banana', 'apple']
['icefruit', 'honeyfruit', 'fig', 'egg', 'dates', 'cherries', 'banana', 'apple']
['apple', 'banana', 'cherries', 'dates', 'egg', 'fig', 'honeyfruit', 'icefruit']
['icefruit', 'honeyfruit', 'fig', 'egg', 'dates', 'cherries', 'banana', 'apple']

In [ ]:
lst2=['cheese','apple', 'milk','eggs', 'fruit','cucumber','tape', 'soap','shampoo', 'sponge ']

print(lst2)

print(len(lst2))


print(lst2[-1::-1]) #negative index, neg slicing

print(lst2[:3:]) # positive index, postive slicing

print(lst2[4::-1]) #positive index, negative slicing

print(lst2[-5::3]) #negative index, postive slicing

['cheese', 'apple', 'milk', 'eggs', 'fruit', 'cucumber', 'tape', 'soap', 'shampoo', 'sponge ']
10
['sponge ', 'shampoo', 'soap', 'tape', 'cucumber', 'fruit', 'eggs', 'milk', 'apple', 'cheese']
['cheese', 'apple', 'milk']
['fruit', 'eggs', 'milk', 'apple', 'cheese']
['cucumber', 'shampoo']

In [ ]:
#tuple example
tupl2=('cheese','apple', 'milk','eggs', 'fruit','cucumber','tape', 'soap','shampoo', 'sponge ')
print(tupl2)


print(tupl2[-1::-1]) #negative index, neg slicing

print(tupl2[:3:]) # positive index, postive slicing

print(tupl2[4::-1]) #positive index, negative slicing

print(tupl2[-5::3]) #negative index, postive slicing

('cheese', 'apple', 'milk', 'eggs', 'fruit', 'cucumber', 'tape', 'soap', 'shampoo', 'sponge ')
('sponge ', 'shampoo', 'soap', 'tape', 'cucumber', 'fruit', 'eggs', 'milk', 'apple', 'cheese')
('cheese', 'apple', 'milk')
('fruit', 'eggs', 'milk', 'apple', 'cheese')
('cucumber', 'shampoo')